* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

$icon-sizes: 15, 20;
$main-font: "Roboto", sans-serif;
$secondary-font: "Playfair", serif;

$dark: #000;
$light: #fff;
$gray: #969494;
$bg-color: #f8ebe9;

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: $bg-color;
  font-family: $main-font;
  font-size: 18px;
  padding: 15px;
}

.icon {
  display: inline-block;
  aspect-ratio: 1;
  @each $s in $icon-sizes {
    &--#{$s} {
      width: #{$s}px;
    }
  }
}

.card {
  position: relative;
  width: 100%;
  max-width: 1020px;
  background-color: $light;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 26px 26px 0px rgb(221, 177, 165);

  &__header {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding-top: 35px;
    padding-right: clamp(20px, 3vw, 50px);
    padding-left: clamp(15px, 3vw, 35px);
  }

  &__link {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    font-size: clamp(12px, 3vw, 14px);
    text-decoration: none;
    font-weight: 500;
    color: $gray;
    transition-property: color, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;

    @media (hover: hover) {
      &:hover {
        color: $dark;
      }
    }

    &--active {
      pointer-events: none;
      color: $dark;
    }

    &--inversion {
      color: $dark;

      @media (hover: hover) {
        &:hover {
          color: $gray;
        }
      }
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__nav {
    display: flex;
    column-gap: clamp(12px, 3vw, 35px);
  }

  &__image {
    height: 150px;
    min-width: 200px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding-top: 60px;
    padding-left: clamp(50px, 6vw, 100px);
    padding-right: clamp(40px, 6vw, 90px);
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }

  &__content-header {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  &__title {
    font-size: clamp(34px, 10vw, 68px);
    font-family: $secondary-font;
    line-height: 0.9;

    span {
      display: flex;
      align-items: center;
      column-gap: clamp(10px, 3vw, 20px);

      &::after {
        content: "";
        display: block;
        width: 100%;
        max-width: 94px;
        height: 4px;
        background-color: $dark;
      }
    }
  }

  &__subtitle {
    font-family: $secondary-font;

    span {
      font-weight: 700;
      font-size: 22px;
    }
  }

  &__content-body {
    display: flex;
    gap: 20px 42px;
    flex-wrap: wrap;
  }

  &__action {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    flex: 1 1 0;
  }

  &__photo {
    position: relative;
    width: 176px;
    height: 110px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 38px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background-color: rgba($light, 0.8);
    cursor: pointer;
    transition: background-color 200ms ease-in;
    color: $dark;

    @media (hover: hover) {
      &:hover {
        background-color: $light;
      }
    }
  }

  &__text {
    font-size: clamp(14px, 4vw, 18px);
    line-height: 1.6;
    flex-grow: 1;
    flex-basis: 200px;
  }
}

@media (width >= 768px) {
  .card {
    flex-direction: row;
  }

  .card__image {
    max-width: 354px;
    height: auto;
  }

  .card__content {
    padding-top: 160px;
  }
}
